.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.contract-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.marriage-status {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marriage-button,
.divorce-button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.marriage-button {
  background-color: #4caf50;
  color: white;
}

.divorce-button {
  background-color: #f44336;
  color: white;
}

p {
  margin: 0;
  font-size: 18px;
  color:black;
}

h1 {
  font-size: 24px;
}
